@model MVCTest.Models.ViewModels.EditorProductVM

@{
    ViewData["Title"] = "Product";
    Layout = "_Layout";
    var product = Model.Product;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        body {
            color: ghostwhite;
        }

        input, textarea, select {
            color: black;
        }
    </style>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="Id" value="@Model.Product.Id" />
        <table class="table-condensed">
            <tr>
                <td>Name:</td>
                <td><input type="text" name="Name" value="@Model.Product.Name" /> </td>
            </tr>

            <tr>
                <td>Price:</td>
                <td><input type="text" name="Price_string" step="0.05" value="@product.Price" /></td>
            </tr>

            <tr>
                <td>Quantity:</td>
                <td><input type="number" name="Quantity" value="@product.Quantity" /></td>
            </tr>

            <tr>
                <td>Description:</td>
                <td><textarea name="Description" value="@product.Description"></textarea> </td>
            </tr>

            <tr>
                <td>Weight:</td>
                <td><input type="number" name="Weight_string" value="@product.Weight" step="0.05" /></td>
            </tr>

            <tr>
                <td>Volume:</td>
                <td><input type="number" name="Volume_string" value="@product.Volume" step="0.05" /></td>
            </tr>

            <tr>
                <td>ImagePath:</td>
                <td><input type="text" name="ImagePath" value="@product.ImagePath" /></td>
            </tr>


            <tr>
                <td>Category:</td>
                <td>
                    <select name="subCategoryId">
                        @foreach (var item in Model.Categories)
                        {
                            <optgroup label="@item.Name">

                                @foreach (var subc in item.SubCategories)
                                {
                                    if (subc.Id == product.SubCategoryId)
                                    {
                                        <option value="@subc.Id" selected>@subc.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@subc.Id">@subc.Name</option>
                                    }

                                }

                            </optgroup>
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td>Image:</td>
                <td><input type="file" @*accept="image/png, image/jpeg" *@ name="file" /></td>
            </tr>

            <tr>
                <td><input type="submit" value="Submit" /> </td>
            </tr>

        </table>
    </form>
</body>
</html>
