@*@model IEnumerable<MVCTest.Models.Product.Product>*@

@model MVCTest.Models.ViewModels.IndexVM

@{
    ViewData["Title"] = "Buy a lot of goods!";
    Layout = "_Layout";
}


<!DOCTYPE html>
<html>
<head>
    <title>Buy a lot of goods!</title>
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>
    <div class="wrapper">
        <div class="cat">
            @foreach (var category in Model.Categories)
            {
                <div class="maincat">
                    <p>@category.Name</p>
                    <div class="subcat">
                        @foreach (var subc in category.SubCategories)
                        {
                            @*<a href="~/Home/Index?subcat=@subc.Name">@subc.Name<br /></a>*@
                            <a href="~/Home/Index?subcatId=@subc.Id">@subc.Name<br /></a>
                        }
                    </div>
                </div>
            }
        </div>

    <script src="~/js/animations.js"></script>

    <div class="products-container">
        @*<h3>Products</h3>*@
        @foreach (var item in Model.Products)
        {
            <div class="product">
                <div class="product-name">
                    @item.Name
                </div>
                <div class="product-image">
                    @if (item.ImagePath != null)
                    {
                        <a href="~/Home/Buy/@item.Id">
                            <img src="@item.ImagePath"
                                 @*width="250"
                                 height="200" *@ class="image" />
                        </a>
                    }
                </div>

                <div class="product-description">
                    <p class="price">Price: @item.Price</p>
                    @{
                        if (@item.SubCategoryId != null)
                        {
                            <p>Category: @item.SubCategory.Name</p>
                        }
                        else
                        {
                            <p>Category: No category</p>
                        }
                    }

                    <a href="~/Home/Buy/@item.Id">Buy</a>
                </div>

            </div>
        }
    </div>
    </div>

</body>
</html>
