@*@model IEnumerable<MVCTest.Models.Product.Product>*@

@model MVCTest.Models.ViewModels.IndexVM

@{
    ViewData["Title"] = "Buy a lot of goods!";
    Layout = "_Layout";
}


<!DOCTYPE html>
<html>
<head>
    <title>Buy a lot of goods!</title>
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>
    <div class="wrapper">
        <div class="cat">
            <form id="filter">
                <ul>
                    @{int subc_it = 0;}
                    @foreach (var category in Model.Categories)
                    {
                        <li class="maincat">
                            <p>@category.Name</p>
                            <ul class="subcat" id="subc_@subc_it">

                                @foreach (var subc in category.SubCategories)
                                {
                                    @*<a href="~/Home/Index?subcatId=@subc.Id">@subc.Name<br /></a>
                        <input type="submit" value="@subc.Id" />*@
                                    <li><button type="submit" name="subcatId" class="subcat-name" value="@subc.Id">@subc.Name</button></li>
                                }
                            </ul>
                        </li>
                        subc_it++;
                    }
                </ul>
                <div class="filter">
                    <p>Price</p>
                    <div class="subcat">
                        <span class="currency_sign"></span>
                        <input class="price_input" name="minPrice" />
                        -
                        <span class="currency_sign"></span>
                        <input class="price_input" name="maxPrice" />
                        <input type="submit" value="Ok" />

                    </div>
                </div>
            </form>
        </div>

        <script src="~/js/animations.js"></script>

        
        <div class="products-container">
            @foreach (var item in Model.Products)
            {
                <div class="product">
                    <div class="product-name" title="@item.Name">@item.Name</div>
                    <div class="product-image">
                        @if (item.ImagePath != null)
                        {
                            <a href="~/Home/Buy/@item.Id">
                                <img src="@item.ImagePath"
                                     @*width="250"
                                 height="200" *@ class="image" />
                            </a>
                        }
                    </div>

                    <div class="product-description">
                        <p class="price">Price: @item.Price</p>
                        @{
                            if (@item.SubCategoryId != null)
                            {
                                <p>Category: @item.SubCategory.Name</p>
                            }
                            else
                            {
                                <p>Category: No category</p>
                            }
                        }

                        <a href="~/Home/Buy/@item.Id">Buy</a>
                    </div>

                </div>
            }

            <div class="pages">
                @if (Model.PagesCount != 1)
                {
                    @for (var i = 0; i < Model.PagesCount; i++)
                    {
                        <button name="page" value="@i" form="filter">@(i + 1)</button>
                    }
                }
            </div>
        </div>

        </div>
    

</body>
</html>
